:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-decor {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/* header */

.header-section {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.link-logo {
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.link-logo-color {
  color: var(--accent-color);
}

.nav-list {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--animation-time);
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
  transition: var(--animation-time);
}

.nav-list:hover,
.nav-list:focus,
.contacts:hover,
.contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-nav-list {
  display: flex;
  margin-right: 305px;
  position: relative;
}

.current-page {
  color: var(--accent-color);
}

.bottom-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: var(--animation-time);
}

.nav-list:hover .bottom-line,
.nav-list:focus .bottom-line,
.current-page {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-item:not(:last-child) {
  margin-right: 30px;
}

/* hero */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  max-width: 1600px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/backgraund-hero.jpg);
}

.hero-title {
  margin-left: 252px;
  margin-right: 252px;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* advanteges */

.advanteges-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.advanteges {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advanteges-list {
  display: flex;
  align-items: center;
}

.feacher-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advanteges-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advanteges-discription {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

/* what we do */

.whaywedo-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.whatwedo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
  gap: 30px;
}

.whatwedo-list-item {
  display: block;
  position: relative;
}

.whatwedo-img {
  display: block;
}

.whatwedo-img-discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}

/* team */

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.name-card {
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: #afb1b8;
  transition: var(--animation-time);
}

.social-team-link:hover,
.social-team-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* clients */

.clients-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: var(--animation-time);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */

.footer-container {
  display: flex;
}

.footer-section {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-white {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: var(--animation-time);
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-links {
  margin-right: 70px;
}

.footer-sosials-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-sosials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-sosial-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: var(--animation-time);
}

.footer-sosial-icon:hover,
.footer-sosial-icon:focus {
  fill: var(--primary-white-color);
  background: var(--accent-color);
}

.footer-social-links {
  margin-top: 12px;
  margin-right: 93px;
}

.mail-form{
  position: relative;
  margin-top: 12px;
}

.footer-label {
  display: flex;
  flex-direction: column;
}

.footer-mail-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-white-color);
margin-bottom: 12px;
}

.mail-type {
  width: 358px;
  height: 50px;
  display: block;
  font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
background: rgba(0, 0, 0, 0.0);


color: rgba(255, 255, 255, 0.6);

border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

margin-right: 10px;
padding-left: 16px;
}

.mail-type::placeholder {
  font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.mail-type:placeholder-shown {
  outline: transparent;
  outline-color: #2196f3;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.mail-type:not(:placeholder-shown) {
  
  outline: transparent;
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mail-type:focus {
  border: 1px solid #2196f3;
}





.mail-submit-btn {
  
  display: block;
  display: flex;
  position: absolute;
  right: -200px;
  height: 50px;
  bottom: 50px;
  width: 200px;
  font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--primary-white-color);

  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.3);
/* padding-left: 29px; */
justify-content: center;
}


.mail-txt-btn {
  margin-right: 10px;
}

/* портфолио */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-finder {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  background: #ffffff;
  display: block;
  width: 370px;
  transition: var(--animation-time);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-btn {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: var(--animation-time);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portgolio-img {
  display: block;
}

.about-portfolio {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-discription {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}

.portfolio-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;

  background: rgba(33, 150, 243, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  pointer-events: none;

  transform: translateY(100%);
  transition: transform var(--animation-time);
}

.portfolio-img-display {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0%);
  transition: transform var(--animation-time);
}

/* modal window */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  margin: auto;
  align-items: center;
  width: 528px;
  background-color: var(--primary-white-color);
  border-radius: 4px; 
  transform: translate(-50%, -50%)
}

.close-modal {
  position: absolute;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  transition: var(--animation-time);
}

.close-modal:focus,
.close-modal:hover {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

text-align: center;
margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.name-label {
  margin-bottom: 10px;
  position: relative;
}

.name-title,
.phone-title,
.mail-title,
.comment-title {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;

font-size: 12px;
line-height: 1.14;
letter-spacing: 0.01em;

color: #757575;
}

.name-type-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--animation-time);
}

.input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--primary-text-color);
  transition: var(--animation-time);
}

.name-type-input:focus,
.phone-type-input:focus,
.mail-type-input:focus{
outline: transparent;
border-color: #2196f3;
padding-left: 42px;
}


.comment-type-input:focus {
  outline: transparent;
border-color: #2196f3;
}

.name-type-input:focus +.input-icon,
.phone-type-input:focus +.input-icon,
.mail-type-input:focus +.input-icon,
.name-type-input:hover +.input-icon,
.phone-type-input:hover +.input-icon,
.mail-type-input:hover +.input-icon{
  fill: var(--accent-color);
}

.user-phone {
  margin-bottom: 10px;
  position: relative;
}



.phone-type-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--animation-time);
}


.user-mail {
  margin-bottom: 10px;
  position: relative;
}

.mail-type-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--animation-time);
}


.user-comment {
  
  margin-bottom: 20px;
  
 
}

.comment-type-input {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: var(--animation-time);
}

.comment-type-input::placeholder {
  font-size: 12px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}


.user-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  
  display: none;
}

.checkbok-option {
  color: var(--accent-color);
}

.modal-form-icon {
  
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: var(--animation-time);
}

.accept-icon {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  fill: transparent;
  transition: var(--animation-time);
}

.modal-form-checkbox:checked + .modal-form-icon > .accept-icon{
 fill: var(--primary-white-color);
}

.modal-form-checkbox:checked + .modal-form-icon {
  border: 2px solid transparent;
  background-color: var(--accent-color);
}

.checkbox-txt {
  margin-left: 7px;
font-size: 14px;
line-height: 1.71;
color: #757575;
}

.submit-btn {
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}